@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html{
    font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
    box-sizing: border-box;
  }
  body{
      margin: 0;
      font-family: "Inter", sans-serif;
  }
  .single-post-details{
      margin: 30px 10px;

  }
  .single__post {
    width: 70%;
    display: block;
    justify-content: center;
    margin: auto;
    padding: 40px 0px;
}
  .single-post-details img{
      width: 70%;
      display: block;
      margin: 30px auto;
  }
  .single-post-details h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    padding: 30px 0px;
    text-decoration: underline;
    color: rgb(58, 58, 58);
    text-transform: capitalize;
}
.single-post-details p{
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    padding: 30px 0px;
    color: rgb(37, 37, 37);
}
.comments{
    padding: 30px 10px;
    background-color: rgba(80, 80, 80, 0.192);
    box-shadow: 0px 4px 16px 0px rgb(114, 114, 114);
}
.comments-details{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.comments-details h1{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding: 30px 0px;
    color: rgb(49, 49, 49);
}
.comment-body{
    padding: 0px 20px;
    border-top: 5px solid black;
}
.comment-body p{
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    padding: 30px 0px;
    color: rgb(49, 49, 49);
    padding: 15px 0px;
}
@media only screen and (max-width: 991px){
    .comments-details {
        display: block;
        padding: 0px 20px;
    }
    .single__post {
        width: 100%;
        display: block;
        justify-content: center;
        margin: auto;
        padding: 40px 0px;
    }
    .single-post-details {
        margin: 0px;
    }
    .single-post-details h1 {
        font-size: 27px;
        text-align: center;
        font-weight: 800;
        padding: 30px 0px;
        text-decoration: underline;
        color: rgb(58, 58, 58);
        text-transform: capitalize;
    }
}
@media only screen and (max-width: 667px){
    .comments-details {
        display: block;
        padding: 0px 20px;
    }
    .single__post {
        width: 100%;
        display: block;
        justify-content: center;
        margin: auto;
        padding: 40px 0px;
    }
    .single-post-details {
        margin: 0px;
    }
    .single-post-details h1 {
        font-size: 27px;
        text-align: center;
        font-weight: 800;
        padding: 30px 0px;
        text-decoration: underline;
        color: rgb(58, 58, 58);
        text-transform: capitalize;
    }
    .comments {
        padding: 30px 10px;
        background-color: rgba(80,80,80,.192);
        box-shadow: 0 4px 16px 0 #727272;
        margin: 10px 10px;
        width: 95%;
    }
    .logout__button {
        padding: 7px 12px;
        border-radius: none !important;
        border: none;
        background: #272727;
        font-family: "Inter";
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }
    .submit {
        width: 30%;
        background: none;
        font-size: 10px;
        cursor: pointer;
        margin-right: 10px;
        padding: 12px 0;
        border-radius: 5px;
        transition: .1s ease-in-out;
        background: #1f1f1f;
    }
}

